# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
ideatarget
.target
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
.idea/
target/
logs
